:root{
    /*Root nos permite definir variaveis com propriedades*/

    --title-color: #322153;
    --primary-color: #34cb79;
    --selected-color: #D3D7D9;
    --input-color: #f0f0f5;
}

/*ELEMENTOS GLOBAIS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Torna o Border como padrão de tamanho em vez do conteúdo*/
}

html{
    font-family: Roboto, sans-serif;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a{ 
    text-decoration: none;   
}

h1, h2 , h3,h4,h5, h6{
    font-family: Ubuntu, sans-serif; 
    color: var(--title-color);
}